.mainCon{
    height: 100%;
    width: 100%;
    margin-top: 0rem;
    display: flex;
    flex-direction:  column;
}
.title{
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}
.topBar{
    height: 3.5rem;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
   
    justify-content: space-between;
}
.actionItems{
    margin-top: 0.5rem;
    margin-right: 2.0rem;
    display: flex;
    flex-direction: row;
}
.reportCon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 4rem;
}
.chartMain{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    
    margin-bottom: 2rem;
}