body {
  margin: 0;
  --secondary: #FF6C37;
  --primary: rgb(28, 39, 43);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary{
  
  background-color: var(--primary);
}
.secondary{
  
  color: var(--secondary);
}
.white-text{
  color: white;
}
.black-text{
  color: black;
}
.base-text{
  font-size: 1.5rem;
  line-height: 1.35;
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif !important;
}
.small-text{
  font-size: 1.0rem !important;
  font-weight: 400;
}
.medium-text{
  font-size: 1.5rem !important;
  font-weight: 300;
}
.big-text{
  font-size: 2.0rem !important;
  font-weight: 500;
}
.pointer{
  cursor: pointer;
}
.small-btn{
  background-color: var(--secondary);
  width: 5rem;
  height: 2.5rem;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}